extends __layout
block content
    nav.navbar.navbar-dark.bg-dark
        .container-fluid
            a.navbar-brand(href="/")="aws-s3-cognito-upload"
            input(type='hidden' data-aws data-region=config.aws.region data-identity=config.aws.identity data-bucket=config.aws.bucket)                
    .overlay
        ="Drop"

    .container-fluid
        .global-status(style="border-bottom: 1px solid #EEE; display: flex; font-size: 14px; padding: 4px;")
            .init(data-text="drag & drop files to upload")
                ="initializing"
                .spinner-border.spinner-border-sm(style="margin-left: 8px;")

        .upload-status-container
            .upload-status-template.card.d-none
                div
                    .time
                    .name
                    .size
                    a.link.d-none(href="javascript:void(0);" target="_blank")
                div
                    .progress
                        .progress-bar(role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100")
                        small.justify-content-center.d-flex.position-absolute.w-100

block styles
    link(rel="stylesheet" href="/assets/home.min.css")
block scripts
    script(src="/assets/home.min.js" defer)